.DS_Store
*/Library/
Android/*/Library/
Xcode
*.csproj
*.pidb
*.sln
*.userPrefs
*.userprefs
xcuserdata
xcuserdata/*
Temp
temp
AndroidManifest.xml
AndroidManifest.xml.meta
AndroidPlugin/Assets/StreamingAssets
StreamingAssets.meta
AndroidPlugin/Assets/Plugins/Android/debugconfig.json
AndroidPlugin/Assets/Plugins/Android/debugconfig.json.meta
AndroidPlugin/Assets/Plugins/Android/appington.jar
AndroidPlugin/Assets/Plugins/Android/appington.jar.meta
*~

.editor-config
